<section class="catalog">
  <div class="catalog__container">
    <h2 class="catalog__title title-h2">Популярные товары</h2>
    <ul class="list-reset catalog__list">
      <li class="catalog__item catalog-item">
        <a class="catalog-item__link" href="product-page.html">
          <div class="catalog-item__img">
            <img src="img/catalog/1.jpg" alt="Картинка меда" />
          </div>
          <h3 class="catalog-item__title">Вкусный мед</h3>
        </a>
        <p class="catalog-item__descr">
          Это самый вкусный мед из 100% меда, вобравший в себя все самое лучшее
          и полезное
        </p>
        <div class="catalog-item__price"><span>цена:</span> 1 000 р</div>
        <button class="btn-reset btn catalog-item__btn">Заказать</button>
      </li>
      <li class="catalog__item catalog-item">
        <a class="catalog-item__link" href="product-page.html">
          <div class="catalog-item__img">
            <img src="img/catalog/1.jpg" alt="Картинка меда" />
          </div>
          <h3 class="catalog-item__title">Вкусный мед</h3>
        </a>
        <p class="catalog-item__descr">
          Это самый вкусный мед из 100% меда, вобравший в себя все самое лучшее
          и полезное
        </p>
        <div class="catalog-item__price"><span>цена:</span> 1 000 р</div>
        <button class="btn-reset btn catalog-item__btn">Заказать</button>
      </li>
      <li class="catalog__item catalog-item">
        <a class="catalog-item__link" href="product-page.html">
          <div class="catalog-item__img">
            <img src="img/catalog/1.jpg" alt="Картинка меда" />
          </div>
          <h3 class="catalog-item__title">Вкусный мед</h3>
        </a>
        <p class="catalog-item__descr">
          Это самый вкусный мед из 100% меда, вобравший в себя все самое лучшее
          и полезное
        </p>
        <div class="catalog-item__price"><span>цена:</span> 1 000 р</div>
        <button class="btn-reset btn catalog-item__btn">Заказать</button>
      </li>
      <li class="catalog__item catalog-item">
        <a class="catalog-item__link" href="product-page.html">
          <div class="catalog-item__img">
            <img src="img/catalog/1.jpg" alt="Картинка меда" />
          </div>
          <h3 class="catalog-item__title">Вкусный мед</h3>
        </a>
        <p class="catalog-item__descr">
          Это самый вкусный мед из 100% меда, вобравший в себя все самое лучшее
          и полезное
        </p>
        <div class="catalog-item__price"><span>цена:</span> 1 000 р</div>
        <button class="btn-reset btn catalog-item__btn">Заказать</button>
      </li>
      <li class="catalog__item catalog-item">
        <a class="catalog-item__link" href="product-page.html">
          <div class="catalog-item__img">
            <img src="img/catalog/1.jpg" alt="Картинка меда" />
          </div>
          <h3 class="catalog-item__title">Вкусный мед</h3>
        </a>
        <p class="catalog-item__descr">
          Это самый вкусный мед из 100% меда, вобравший в себя все самое лучшее
          и полезное
        </p>
        <div class="catalog-item__price"><span>цена:</span> 1 000 р</div>
        <button class="btn-reset btn catalog-item__btn">Заказать</button>
      </li>
      <li class="catalog__item catalog-item">
        <a class="catalog-item__link" href="product-page.html">
          <div class="catalog-item__img">
            <img src="img/catalog/1.jpg" alt="Картинка меда" />
          </div>
          <h3 class="catalog-item__title">Вкусный мед</h3>
        </a>
        <p class="catalog-item__descr">
          Это самый вкусный мед из 100% меда, вобравший в себя все самое лучшее
          и полезное
        </p>
        <div class="catalog-item__price"><span>цена:</span> 1 000 р</div>
        <button class="btn-reset btn catalog-item__btn">Заказать</button>
      </li>
    </ul>
  </div>
</section>
