<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="/" class="footer__logo logo"> Свежий мед </a>
      <nav class="nav footer__nav" title="Навигация">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Выбор меда</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Фасованый мед</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Продукты пчеловодства</a>
          </li>
        </ul>
      </nav>
      <div class="footer__right">
        <a href="authorization.html" class="btn">Войти</a>
        <a href="registration.html" class="btn" style="margin-left: 5px;">Регистрация</a>
      </div>
    </div>
    <small class="footer__info">Евгений Головин 2023</small>
  </div>
</footer>
