<header class="header">
  <div class="container header__container">
    <a href="/" class="header__logo logo">
      <h1>Свежий мед</h1>
    </a>
    <nav class="nav header__nav" title="Навигация">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Выбор меда</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link">Фасованый мед</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Продукты пчеловодства</a>
        </li>
        <li class="nav__item"><a href="reviews.html" class="nav__link">Отзывы</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О сайта</a></li>
      </ul>
    </nav>
    <div class="header__right">
      <a href="#" class="header__backet btn btn--second">Корзина</a>
      <a href="registration.html" class="btn">Регистрация</a>
      <a href="authorization.html" class="btn">Войти</a>
    </div>
  </div>
</header>
