<section class="hero">
  <div class="container hero__container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper__content">
            <h3 class="swiper__title">Свежий мед</h3>
            <p class="swiper__descr">
              Сезон свежего меда настал. Пора закупаться!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__content">
            <h3 class="swiper__title">Свежий мед</h3>
            <p class="swiper__descr">
              Сезон свежего меда настал. Пора закупаться!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__content">
            <h3 class="swiper__title">Свежий мед</h3>
            <p class="swiper__descr">
              Сезон свежего меда настал. Пора закупаться!
            </p>
          </div>
        </div>
      </div>
      <div class="swiper__btns">
        <button class="btn-reset btn swiper-btn--prev">Назад</button>
        <button class="btn-reset btn swiper-btn--next">Вперед</button>
      </div>
    </div>
  </div>
</section>
