<section class="product">
  <div class="product__container">
    <h1 class="product__title title-h2">Свежий мед</h1>
    <div class="product__content">
      <div class="product__top">
        <div class="product__img">
          <img src="img/catalog/1.jpg" alt="Картинка меда" />
        </div>
        <div class="product__top-right">
          <div class="product-block-info">
            <h2 class="product-block-info__title">Краткое описание:</h2>
            <ul class="list-reset product-block-info__list">
              <li class="product-block-info__item">
                Натуральный продукт 2023 года
              </li>
              <li class="product-block-info__item">Доставка прямо с пасеки</li>
              <li class="product-block-info__item">
                Выгодный товар по привлекательной цене
              </li>
            </ul>
          </div>
          <div class="product-block-info">
            <h2 class="product-block-info__title">Условия доставки:</h2>
            <ul class="list-reset product-block-info__list">
              <li class="product-block-info__item">
                Почтовой службой по России
              </li>
              <li class="product-block-info__item">
                от 5000 рублей - бесплатно
              </li>
              <li class="product-block-info__item">
                Экспресс-доставка на такси по Барнаулу
              </li>
            </ul>
          </div>
          <div class="product__price"><span>цена:</span>1000 р</div>
          <div class="product__action">
            <button class="btn-reset btn product__btn">Заказать</button>
            <div class="product__status">В наличии</div>
          </div>
        </div>
      </div>
      <div class="product__bottom">
        <p class="product__descr">
          Сотовый мед считается более ценным, чем выкачанный. Причина - в его
          составе. Помимо самого меда, он также включает частички воска,
          прополиса, пыльцы и перги. За счет этого он дольше остается жидким.
          Кроме того, продукт почти невозможно подделать - Вы можете легко
          убедиться в его натуральности и зрелости благодаря запечатанным
          белесыми “крышечками” ячейкам. Именно вышеперечисленным объясняется
          более высокая цена сотового меда.
        </p>
        <div class="product-block-info">
          <h2 class="product-block-info__title">Характеристики:</h2>
          <ul class="list-reset product-block-info__list">
            <li class="product-block-info__item"><span>Цвет:</span> Желтый</li>
            <li class="product-block-info__item"><span>Вкус:</span> Сладкий</li>
            <li class="product-block-info__item">
              <span>Запах:</span> Насыщенный медовый
            </li>
            <li class="product-block-info__item">
              <span>Консистенция:</span> Мелкозернистая
            </li>
            <li class="product-block-info__item">
              <span>Период кристаллизации:</span> 3 месяца
            </li>
          </ul>
        </div>
        <div class="product-block-info">
          <h2 class="product-block-info__title">
            Пищевая и энергетическая ценность:
          </h2>
          <ul class="list-reset product-block-info__list">
            <li class="product-block-info__item"><span>Углеводы:</span> 95%</li>
            <li class="product-block-info__item"><span>Белки:</span> 5%</li>
            <li class="product-block-info__item"><span>Жиры:</span> 0%</li>
            <li class="product-block-info__item">
              <span>Калорийность:</span> 325 ккал/100 г
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
