<section class="registration">
  <div class="registration__container">
    <h1 class="registration__title title-h2">Регистрация</h1>
    <form action="#" class="form">
      <label class="form__label">
        <span>Имя</span>
        <input type="text" name="Имя" class="input-reset form__input" placeholder="Иван">
      </label>
      <label class="form__label">
        <span>Фамилия</span>
        <input type="text" name="Фамилия" class="input-reset form__input" placeholder="Иванов">
      </label>
      <label class="form__label">
        <span>Email</span>
        <input type="email" name="Email" class="input-reset form__input" placeholder="examle@mail.com">
      </label>
      <label class="form__label">
        <span>Номер телефона</span>
        <input type="tel" name="Номер телефона" class="input-reset form__input" placeholder="8 000 000 00 00">
      </label>
      <label class="form__label">
        <span>Пароль</span>
        <input type="password" name="Пароль" class="input-reset form__input" placeholder="Введите пароль">
      </label>
      <label class="form__label">
        <span>Подтвердите пароль</span>
        <input type="password" name="Подтверждение пароля" class="input-reset form__input" placeholder="Введите пароль еще раз">
      </label>
      <button class="btn-reset btn form__btn">Зарегистрироваться</button>
    </form>
  </div>
</section>
