<section class="review">
  <div class="rewiew__container">
    <h1 class="review__title title-h2">Отзывы о нас</h1>
    <ul class="list-reset review__list">
      <li class="review__item review-item">
        <div class="review-item__top">
          <h3 class="review-item__title">Валерий Макаров</h3>
          <div class="review-item__date">23.01.2023</div>
        </div>
        <div class="review-item__bottom">
          <p class="review-item__descr">
            Мед у Вас замечательный. Одна просьба - когда укладываете,
            добавляйте, пожалуйста, пупырчатую пленку и между банками, а не
            только вокруг. Забрала заказ, баночка рапсового меда разбита. Мало
            того, что без вкусного меда осталась, так еще и порезалась, когда
            доставала.
          </p>
          <span class="review-item__grade">5/5</span>
        </div>
      </li>
      <li class="review__item review-item">
        <div class="review-item__top">
          <h3 class="review-item__title">Валерий Макаров</h3>
          <div class="review-item__date">23.01.2023</div>
        </div>
        <div class="review-item__bottom">
          <p class="review-item__descr">
            Мед у Вас замечательный. Одна просьба - когда укладываете,
            добавляйте, пожалуйста, пупырчатую пленку и между банками, а не
            только вокруг. Забрала заказ, баночка рапсового меда разбита. Мало
            того, что без вкусного меда осталась, так еще и порезалась, когда
            доставала.
          </p>
          <span class="review-item__grade">5/5</span>
        </div>
      </li>
    </ul>
  </div>
</section>
