<div class="sidebar">
  <div class="sidebar__container">
    <h3 class="sidebar__title">Выбор меда</h3>
    <nav class="nav sidebar__nav" title="Выбор меда">
      <ul class="list-reset nav__list sidebar__list">
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">Гречнивый мед</a>
        </li>
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">Подсолнечный мед</a>
        </li>
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">Мед донника</a>
        </li>
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">Мед разнотравный</a>
        </li>
      </ul>
    </nav>
    <h3 class="sidebar__title">Фасованный мед</h3>
    <nav class="nav sidebar__nav" title="Фасованный мед">
      <ul class="list-reset nav__list sidebar__list">
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">В пластике</a>
        </li>
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">В стекле</a>
        </li>
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">В кубо-контейнерах</a>
        </li>
      </ul>
    </nav>
    <h3 class="sidebar__title">Продукты пчеловодства</h3>
    <nav class="list-reset nav sidebar__nav" title="Продукты пчеловодства">
      <ul class="list-reset nav__list sidebar__list">
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">Перга</a>
        </li>
        <li class="nav__item sidebar__item">
          <a href="#" class="nav__link sidebar__link">Прополис</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
