// для использования sass-переменных - удалить root
// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --accent-color: #ffdf2d;
  --dark-color: #1d1d1d;
  --gray-color: #cccccc;
}
